body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}

canvas {
    display: block;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    pointer-events: none;
}
